@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #FF844B;
}

body {
    background: #E3EDF2;
    margin: 0;
    font-family: 'Poppins';
    text-align: center;
  }
  
  .navbar {
    background: white;
    padding: 1em;
    position: fixed;
    width: 100%;
  }
  
  .navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: #4E7D96;
    font-size: 1.2em;
  }
  
  .navbar .logo span {
    color: var(--primary-color);
  }
  
  .navbar .container {
    display: flex;
    place-content: space-between;
    width: 80%;
    margin: auto;
  }
  
  ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav li a {
    text-decoration: none;
  }
  
  nav li a:hover {
    font-weight: bold;
  }
  
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }

  /*pricing*/

section {
      margin: 0;
      
  }

section .container{
      background-color: #9FC9DD;
      padding-top: 20%;
      padding: 15.5%;
      height: 350px;
  }

.container .freetrial{
    padding: 1em;
    background-color: #E3EDF2;
    margin-right: 2em;
    border-radius: 1em;
  }
.container .monthly{
    padding: 1em;
    background-color: #4E7D96;
    margin-right: 2em;
    border-radius: 1em;
  }
.container .lifetime{
    padding: 1em;
    background-color: #FF844B;
    border-radius: 1em;
  }

.container {
      display: flex;
  }

.container h3 {
      margin-left: 1em;
      margin-right: 1em;
      font-size: 2em;
      background-color: whitesmoke;
      border-radius: 4px;
      padding: 0;
      color: #FF844B;
  }

.container p{
      padding: 0 1em;
      text-align: center;
      margin-top: -1em
  }

.container button{
    background-color: #FF844B;
    border-radius: 2em;
    border: solid 5px #9FC9DD;
    padding: 1em;
    font-size: larger;
    cursor: pointer;
    font-weight: bolder;
    color: #E3EDF2;
    margin-top: 1em;
    
}
.container .freetrial p {
    color: #7e7e7e;
  }
.container .monthly p {
    color: #9FC9DD;
  }
.container .lifetime p {
    color: #E3EDF2;
  }

.container button a{
    text-decoration: none;
    color: whitesmoke;
    padding: 1.5em;
}